{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="content-section">
    <h1>
      Contact Us
    </h1>
    <br>
    <h5>Feedback on the application</h5>
    <p>
      We would love to get your feedback on the application! <br>
      Click the link and fill out the form. <br>
      <a href="https://pmfsurvey.com/g/1295">https://pmfsurvey.com/g/1295</a>
    </p>
    <h5>Questions, Bugs, Inquiries</h5>
    <p>
      Write us an E-Mail at <br>
      contactmeasuredfood@gmail.com <br>
      We won't send you any spam.
    </p>
    <p>

    </p>
  </div>

{% endblock content %}
