{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h1>
        Detail View
      </h1>
      <h2>
        Name: {{ fulldayofeating.name }}
      </h2>
      <p>
        Cooking instructions: {{ fulldayofeating.cooking_instruction }}
      </p>
      <p>
        Nutrient profile name:
        {{ fulldayofeating.nutrient_profile }}
      </p>
      <p>
        Nutrient targets for the calculations:
      </p>
        {% for k in specificnutrienttarget_list %}
          <p> {{ k.nutrient_target }} </p>
        {% endfor %}

      <p>
        List of specific ingredients:
        <table>
          <tr>
            <th> Amount </th>
            <th> Units </th>
            <th> Ingredient </th>
            <th> Scaling </th>
          </tr>

          {% for specificingredient in specificingredient_list %}

            <tr>
              <td> {{ specificingredient.base_amount }} </td>
              <td> {{ specificingredient.base_amount_unit }} </td>
              <td> {{ specificingredient.rawingredient }} </td>
              <td> {{ specificingredient.scaling_option }} </td>
            </tr>

          {% endfor %}
        </table>

    <br>
    <br>
    <div class="">
      <a class="btn btn-lg btn-block btn-primary"
          href="
{% url 'fulldayofeating-copy-to-user' id_fulldayofeating=fulldayofeating.id %}"
          id="id_button_copy_fulldayofeating">
        Copy to my full days of eating
      </a>
    </div>

    </div>
{% endblock content %}
