{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{#      <h1>#}
{#        <u>Full Day Of Eating:</u>#}
{#      </h1>#}
      <h1>
        {{ fulldayofeating }}
      </h1>
      <br>

      <table class="generic_table_th_td">
          <tr>
            <th> Amount </th>
            <th> Units </th>
            <th> Ingredient </th>
            <th> Scaling </th>
          </tr>

          {% for specificingredient in specificingredient_list %}

            <tr>
              <td> {{ specificingredient.base_amount }} </td>
              <td> {{ specificingredient.base_amount_unit }} </td>
              <td> {{ specificingredient.rawingredient }} </td>
              <td> {{ specificingredient.scaling_option }} </td>
            </tr>

          {% endfor %}
      </table>
      <br>

      <h3>
        <u>Cooking instructions:</u>
      </h3>
      <p>
        {{ fulldayofeating.cooking_instruction|linebreaks }}
      </p>
      <br>
      <h3>
        <u>Nutrient profile name:</u>
      </h3>
      <p>
        {{ fulldayofeating.nutrient_profile }}
      </p>
      <br>
      <h3>
        <u>Nutrient targets for the calculations:</u>
      </h3>
        {% for k in specificnutrienttarget_list %}
          <p> {{ k.nutrient_target }} </p>
        {% endfor %}
      <br>

    <br>
    <br>
    <div class="">
      <a class="btn btn-lg btn-block btn-primary"
          href="
{% url 'fulldayofeating-copy-to-user' id_fulldayofeating=fulldayofeating.id %}"
          id="id_button_copy_fulldayofeating">
        Copy to my full days of eating
      </a>
    </div>
{% endblock content %}
