{% extends "measuredfood/base.html" %}
{% block content %}
<!-- The html table holding the recipe editor with the addition of specific
ingredients is built here. -->

  <form method="post">
    {% csrf_token %}

    <table border="2">
      {{ form_fulldayofeating }}
    </table>
    <br>
    <br>
    <table border="2">
      <tr>
        <th>Amount</th>
        <th>Units</th>
        <th>Ingredient</th>
        <th>Scaling</th>
        <th>Delete</th>
      </tr>

      {{ formset_specificingredient.management_form }}
      {% for form in formset_specificingredient %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <tr>
          <td>{{ form.base_amount }}</td>
          <td>{{ form.base_amount_unit }}</td>
          <td>{{ form.rawingredient }}</td>
          <td>{{ form.scaling_option }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <input type="submit" value="Save all changes and maybe add more ingredients" />
  </form>
  <br>
  <br>
    <a href="{% url 'calculate-fulldayofeating' id_fulldayofeating=id_fulldayofeating %}">
      <button type="button" class="btn btn-primary">
        Calculate full day of eating
      </button>
    </a>
  </h6>
  <br>
  <br>



{% endblock content %}
