{% extends "measuredfood/base.html" %}
{% block content %}
<!-- The html table holding the recipe editor with the addition of specific
ingredients is built here. -->


    <a href="{% url 'list-fulldayofeating2' %}">
      <button
              type="button"
              class="btn btn-lg btn-block btn-primary"
              id="id_button_back_to_list_of_full_days_of_eating"
      >
        Back to list of full days of eating
      </button>
    </a>
    <br>
    <br>

    <div class="group_related_to_save_button">

    <form method="post">
      {% csrf_token %}

      <p class="emphasize">Name:</p>
      <p> {{ form_fulldayofeating2.name }} </p>

      <p class="emphasize">Cooking instructions:</p>
      <p> {{ form_fulldayofeating2.cooking_instruction }} </p>

      <p class="emphasize">Nutrient Profile:</p>
      <p> {{ form_fulldayofeating2.nutrient_profile }} </p>

      <br>
      <br>

      <table class="table_th_td_padding table_th_td_border">

        {{ formset_specificingredient2.management_form }}
        {% for form in formset_specificingredient2 %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          <table class="table_th_td_padding table_th_td_border">

            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Ingredient</td>
              <td class="table_th_td_padding">{{ form.rawingredient3 }}</td>
            </tr>

            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Minimum amount in gram</td>
              <td class="table_th_td_padding">{{ form.min_amount }}</td>
            </tr>
            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Initial amount in gram</td>
              <td class="table_th_td_padding">{{ form.base_amount }}</td>
            </tr>
            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Maximum amount in gram</td>
              <td class="table_th_td_padding">{{ form.max_amount }}</td>
            </tr>

            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Vary amount</td>
              <td class="table_th_td_padding">{{ form.amount_is_variable }}</td>
            </tr>
            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Group</td>
              <td class="table_th_td_padding">{{ form.group }}</td>
            </tr>

            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Step size</td>
              <td class="table_th_td_padding">{{ form.step_size }}</td>
            </tr>
            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Round step</td>
              <td class="table_th_td_padding">{{ form.round_step }}</td>
            </tr>


            <tr class="table_th_td_border">
              <td class="table_th_td_padding">Targeted nutrient</td>
              <td class="table_th_td_padding">{{ form.nutrient_target }}</td>
            </tr>

            <tr class="table_th_td_border">
              <td class="table_th_td_padding emphasize">Delete</td>
              <td class="table_th_td_padding">{{ form.DELETE }}</td>
            </tr>

          </table>
          <br>

        {% endfor %}
      </table>
      <br>

      <input
                    type="submit"
                    value="Save changes"
                    id="save_changes_formset_fulldayofeating"
      class="btn btn-lg btn-block btn-dark"/>

    </form>
      </div>
    <br>
    <br>
      <a href="
{% url 'calculate-fulldayofeating2' id_fulldayofeating2=id_fulldayofeating2 %}">
        <button
                type="button"
                class="btn btn-lg btn-block btn-primary"
                id="id_button_calculate_full_day_of_eating"
        >
          Calculate full day of eating
        </button>
      </a>
    <br>
    <br>

{% endblock content %}
