{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

      <a href="{% url 'list-fulldayofeating' %}">
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Back to list of full days of eating
        </button>
      </a>
      <br>
      <br>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Full day of eating</legend>
                {{ form_fulldayofeating|crispy }}
            </fieldset>
            <div class="form-group">
                <button
                  class="btn btn-outline-info"
                  type="submit"
                  id="id_button_save_new_fulldayofeating">
                  Save
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
