{% extends "measuredfood/base.html" %}
{% block content %}
<!-- The html table holding the recipe editor with the addition of specific
ingredients is built here. -->

  <form method="post">
    {% csrf_token %}

    {# TODO: This table does not have borders on the inside. I do not know how to implement that. Forget it for now.#}
    <table class="generic_table_th_td">
      {{ form_fulldayofeating }}
    </table>
    <br>
    <br>

    <table class="generic_table_th_td">
      {{ formset_specificnutrienttarget.management_form }}
      <tr class="generic_table_th_td">
        <th class="generic_table_th_td">Nutrient targets for the calculations:</th>
        <th class="generic_table_th_td">Delete</th>
      </tr>
      {% for form in formset_specificnutrienttarget %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <tr class="generic_table_th_td">
          <td class="generic_table_th_td">{{ form.nutrient_target }}</td>
          <td class="generic_table_th_td">{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <br>

    <table class="generic_table_th_td">
      <tr>
        <th class="generic_table_th_td">Amount</th>
        <th class="generic_table_th_td">Units</th>
        <th class="generic_table_th_td">Ingredient</th>
        <th class="generic_table_th_td">Scaling</th>
        <th class="generic_table_th_td">Delete</th>
      </tr>

      {{ formset_specificingredient.management_form }}
      {% for form in formset_specificingredient %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <tr>
          <td class="generic_table_th_td">{{ form.base_amount }}</td>
          <td class="generic_table_th_td">{{ form.base_amount_unit }}</td>
          <td class="generic_table_th_td">{{ form.rawingredient }}</td>
          <td class="generic_table_th_td">{{ form.scaling_option }}</td>
          <td class="generic_table_th_td">{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <input type="submit" value="Save all changes and maybe add more ingredients"
    class="btn btn-primary"/>
  </form>
  <br>
  <br>
    <a href="{% url 'calculate-fulldayofeating' id_fulldayofeating=id_fulldayofeating %}">
      <button type="button" class="btn btn-primary">
        Calculate full day of eating
      </button>
    </a>
  <br>
  <br>



{% endblock content %}
