{% extends "measuredfood/base.html" %}
{% block content %}
<!-- The html table holding the recipe editor with the addition of specific
ingredients is built here. -->

  <form method="post">
    {% csrf_token %}

    <table border="2">
      {{ form_fulldayofeating }}
    </table>
    <br>
    <br>
    <table border="2">
      <tr>
        <th>Amount</th>
        <th>Units</th>
        <th>Ingredient</th>
        <th>Scaling</th>
        <th>Step size</th>
        <th>Delete</th>
      </tr>

      {{ formset.management_form }}
      {% for form in formset %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <tr>
          <td>{{ form.base_amount }}</td>
          <td>{{ form.base_amount_unit }}</td>
          <td>{{ form.rawingredient }}</td>
          <td>{{ form.scaling_option }}</td>
          <td>{{ form.step_size }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <input type="submit" value="Save all changes and maybe add more ingredients" />
  </form>
  <br>
  <br>
  <form class="" action='calculateFullDayOfEatingUrl' method="get">
    <button type="submit">Calculate full day of eating</button>
  </form>
  <br>
  <br>
  <!-- Trying to implement the method from
  https://www.youtube.com/watch?v=6y5Ucj5bI0Q -->
  <h6>
    <a href="{% url 'calculate-fulldayofeating' id_fulldayofeating=14 %}">
      <button type="button" class="btn btn-primary">
        Calculate full day of eating (Master Code Online)
      </button>
    </a>
  </h6>



{% endblock content %}
