{% extends "measuredfood/base.html" %}
{% block content %}

<!-- TODO: This is in the process of being replaced by
fulldayofeating_calculation_result.html -->
  <form method="post">
    {% csrf_token %}

    <table border="2">
      {{ form_fulldayofeating }}
    </table>
    <br>
    <br>
    <table border="2">
      <tr>
        <th>Amount</th>
        <th>Units</th>
        <th>Ingredient</th>
        <th>Scaling</th>
        <th>Delete</th>
      </tr>

      {{ formset.management_form }}
      {% for form in formset %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <tr>
          <td>{{ form.base_amount }}</td>
          <td>{{ form.base_amount_unit }}</td>
          <td>{{ form.rawingredient }}</td>
          <td>{{ form.scaling_option }}</td>
          <td>{{ form.DELETE }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <input type="submit" value="Save all changes and maybe add more ingredients" />
  </form>
  <br>
  <br>
    <a href="{% url 'calculate-fulldayofeating' id_fulldayofeating=id_fulldayofeating %}">
      <button type="button" class="btn btn-primary">
        Calculate full day of eating
      </button>
    </a>
  </h6>
  <br>
  <br>
  <h1>Calculation results:</h1>
    <table border="2">
      <tr>
        <th>Calculated amount</th>
        <th>Unit</th>
        <th>Ingredient</th>
        <th>Affiliate link</th>
      </tr>
      {% for dict_k in result_calculation_fulldayofeating %}
      <tr>
        <td>{{ dict_k.calculated_amount }}</td>
        <td>{{ dict_k.base_amount_unit }}</td>
        <td>{{ dict_k.name }}</td>
        <td>
          <a href="{{ dict_k.buy_here_link }}">Buy</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  <br>
  <br>
{% endblock content %}
