{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="">
    <a class="btn btn-primary btn-large"
    href="{% url 'create-fulldayofeating' %}"
    id="id_button_new_fulldayofeating">
      New Full Day Of Eating
    </a>
  </div>
  <br>
  <br>

  {% if fulldayofeating_list %}
  <div class="">
    <h1>List of your full days of eating:</h1>
    <br>
    {% for fulldayofeating in fulldayofeating_list %}
      <div class="center_text">
        {{ fulldayofeating.name }}
      </div>
      <p>
        <a href="{% url 'detail-fulldayofeating' fulldayofeating.id %}"
        class="btn btn-primary btn-large"
        id="button_view_fulldayofeating">
          View
        </a>
        <!-- {{ fulldayofeating.name }} -->
      </p>
    {% endfor %}
  </div>
  {% else %}
    <h1>Add a full day of eating by clicking on the button "New Full Day Of
      Eating". No full days of eating have been added yet.</h1>
  {% endif %}

{% endblock content %}
