{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="center-variable-width">
{#  <div class="video_wrapper">#}

    <iframe
            align="middle"
            width="100%"
{#            width="1280"#}
{#            to get the height, multiply width with 9/16 to get an aspect ratio#}
{#            of 16:9, which is the standard for YouTube videos. #}
            height="720"
            src="https://www.youtube.com/embed/kTq7cDhpFJc"
{#          original code  #}
{#          frameborder="0"  #}
            frameborder="1"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>

  </div>

{% endblock content %}
