{% extends "measuredfood/base.html" %}
{% block content %}


      <h1>Welcome to measuredfood!</h1>

      <p>
        You want to
        <ul>
          <li>lose fat</li>
          <li>build muscle</li>
          <li>reverse heart disease</li>
{#          <li>reverse type 2 diabetes</li>#}
        </ul>
        but don't
        want to log everything you eat into a calorie counter?
      </p>
        <br>
      <p>
        Instead, measure your food while you are cooking it. Weigh out each
        ingredient.
        Once the measured food is finished, there is no more counting: just eat
        what you
        cooked, don't snack and you will reach your goals!
      </p>

      <a href="{% url 'register' %}">
        <button
                type="button"
                class="btn btn-lg btn-block btn-success"
                id=""
        >
          Sign me up!
        </button>
      </a>

      <br>
      <p>Already have an account?</p>

      <a href="{% url 'login' %}">
        <button
                type="button"
                class="btn btn-lg btn-block btn-dark"
                id=""
        >
          Log in
        </button>
      </a>



{% endblock content %}
