{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="center-variable-width">

    <div class="content-section">

      <h1>Welcome to measuredfood!</h1>

      <p>
        You want to
        <ul>
          <li>lose fat</li>
          <li>build muscle</li>
          <li>reverse heart disease</li>
{#          <li>reverse type 2 diabetes</li>#}
        </ul>
        but don't
        want to log everything you eat into a calorie counter?
      </p>
        <br>
      <p>
        With measuredfood, you weigh your ingredients while cooking your meals.
        Once the food is finished, there is no more counting: just eat what you
        cooked, don't snack and you will reach your goals!
      </p>

      <a href="{% url 'register' %}">
        <button
                type="button"
                class="btn btn-lg btn-block btn-success"
                id=""
        >
          Sign me up!
        </button>
      </a>


    </div>

  </div>

{% endblock content %}
