{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Mealplan</legend>
                {{ form_mealplan|crispy }}
            </fieldset>
            <div class="form-group">
                <button
                  class="btn btn-outline-info"
                  type="submit"
                  id="id_button_save_new_mealplan">
                  Save
                </button>
            </div>

            {% if view_type == 'update' %}

            <!-- TODO: find a better way to introduce line breaks. -->
            <p>----------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <table border="2">
              <tr>
                <th>Full day of eating</th>
                <th>Delete</th>
              </tr>

              {{ formset_specificfulldayofeating.management_form }}
              {% for form in formset_specificfulldayofeating %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                <tr>
                  <!-- The goal is that users are not shown FullDayOfEating
                  objects made by other users.The form already shows only the
                  FullDayOfEating objects belonging to the user. Matthias
                  Schulz does not know why.
                  -->
                  <td>{{ form.fulldayofeating }}</td>
                  <td>{{ form.DELETE }}</td>
                </tr>
              {% endfor %}
            </table>
            <br>
            <input type="submit" value="Save changes / Add more full days of eating" />

            {% endif %}

        </form>
        {% if view_type == 'update' %}
          <br>
          <br>

          <a href="{% url 'mealplan-shoppinglist' id_mealplan=id_mealplan %}">
            <button type="button" class="btn btn-primary">
              Make shopping list
            </button>
          </a>
        {% endif %}
    </div>
{% endblock content %}
