{% extends "measuredfood/base.html" %}
{% block content %}

  <h1>Average nutrition of the mealplan {{ mealplan_name }}:</h1>
  <br>
  <br>
  <table class="total_nutrition_table">
    <tr>
      <th class="total_nutrition_table">Nutrient name</th>
      <th class="total_nutrition_table">Average in mealplan</th>
      <th class="total_nutrition_table">Unit</th>
      <th class="total_nutrition_table">% Target</th>
      <th class="total_nutrition_table">% Tolerable upper intake</th>
      <th class="total_nutrition_table">Judgement</th>
    </tr>

    {% for ab in aggregated_total_nutrition_fulldayofeating %}
      <tr  class="{{ ab.6 }} total_nutrition_table">
        <td class="total_nutrition_table">{{ ab.0 }}</td>
        <td class="total_nutrition_table">{{ ab.1 }}</td>
        <td class="total_nutrition_table">{{ ab.2 }}</td>
        <td class="total_nutrition_table">{{ ab.3 }}</td>
        <td class="total_nutrition_table">{{ ab.4 }}</td>
        <td class="total_nutrition_table">{{ ab.5 }}</td>
      </tr>
    {% endfor %}

  </table>
  <br>
  <br>
  <br>
  <br>
  <h1>Average price of the mealplan {{ mealplan_name }}:</h1>
  <table border="2">
    <tr>
      <th>Price</th>
      <th>Currency</th>
    </tr>
    <tr>
      <td>{{ mealplan_total_price_dict.average_price_mealplan_rounded }}</td>
      <td>{{ mealplan_total_price_dict.total_price_currency }}</td>
    </tr>
  </table>

{% endblock content %}
