{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="content-section">

  <div class="">
    <a class="btn btn-lg btn-block btn-primary"
    href="{% url 'create-mealplan' %}"
    id="id_button_new_mealplan">
      New mealplan
    </a>
  </div>
  <br>
  <br>
  <div class="">
    <a class="btn btn-lg btn-block btn-secondary"
    href="{% url 'haystack-search' %}"
    id="id_button_browse_mealplan">
      Search mealplans and other
    </a>
  </div>
  <br>
  <br>

  {% if mealplan_list %}
    <div class="">
      <h1>List of your mealplans:</h1>
      <br>
      {% for mealplan in mealplan_list %}
        <div class="box">
            <div>
              <a class="btn btn-primary btn-large"
              href="{% url 'update-mealplan' mealplan.id %}">
                Edit
              </a>
            </div>
            <div><p>{{ mealplan }}</p></div>
            <div>
              <a
                class="btn btn-danger btn-large"
                href="{% url 'delete-mealplan' mealplan.id %}"
                id="delete {{ mealplan.name }}"
              >
                Delete
              </a>
            </div>
        </div>
        <br>

      {% endfor %}
    </div>
  {% else %}
    <h1>No mealplans have been added yet.</h1>
  {% endif %}

  </div>

{% endblock content %}
