{% extends "measuredfood/base.html" %}
{% block content %}
  <div class="">
    <a class="btn btn-lg btn-block btn-primary"
    href="{% url 'create-nutrient-profile' %}"
    id="id_button_new_nutrient_profile">
      New nutrient profile
    </a>
  </div>
  <br>
  <br>

  <div class="">
    <a class="btn btn-lg btn-block btn-secondary"
    href="#"
    id="id_button_browse_nutrientprofile">
      Browse nutrient profiles
    </a>
  </div>
  <br>
  <br>

  {% if nutrientprofile_list %}
    <div class="">
      <h1>List of your nutrient profiles:</h1>
      <br>
      {% for profile in nutrientprofile_list %}

          <div class="box">
                <div>
                  <a class="btn btn-primary btn-large"
                  href="{% url 'update-nutrient-profile' profile.id %}"
                  id="edit {{ profile.name }}"
                  >
                    Edit
                  </a></div>
                <div id="paragraph {{ profile.name }}">
                  <p>{{ profile }}</p>
                </div>
                <div>
                  <a class="btn btn-danger btn-large"
                  href="{% url 'delete-nutrient-profile' profile.id %}"
                  id="delete {{ profile.name }}">
                    Delete
                  </a>
                </div>
          </div>
          <br>

      {% endfor %}
    </div>
  {% else %}
    <h1>No nutrient profiles have been added yet.</h1>
  {% endif %}

{% endblock content %}
