{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="">
    <a class="btn btn-primary btn-large"
    href="{% url 'create-nutrienttargetselection' %}"
    id="id_button_new_nutrienttargetselection">
      New Nutrient Target Selection
    </a>
  </div>
  <br>
  <br>

  {% if nutrienttargetselection_list %}
  <div class="">
    <h1>List of your nutrient target selections:</h1>
    <br>
    {% for nutrienttargetselection in nutrienttargetselection_list %}
        <p>
          <a href="{% url 'detail-nutrienttargetselection' nutrienttargetselection.id %}"
          class="btn btn-primary btn-large"
          id="button_view_nutrienttargetselection">
            View
          </a>{{ nutrienttargetselection.name }}
        </p>
    {% endfor %}
  </div>
  {% else %}
    <h1>Add nutrient target selections by clicking on the "New Nutrient Target Selection" button above.</h1>
  {% endif %}

{% endblock content %}
