{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h1>
        {{ nutrientprofile }}
      </h1>
      <h3>
        Nutrient Profile
      </h3>

    <br>
    <br>
    <div class="">
      <a class="btn btn-lg btn-block btn-primary"
          href="
{% url 'nutrientprofile-copy-to-user' id_nutrientprofile=nutrientprofile.id %}"
          id="id_button_copy_nutrientprofile">
        Copy to my nutrient profiles
      </a>
    </div>

    </div>
{% endblock content %}
