{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="">
    <a class="btn btn-primary btn-large"
    href="{% url 'create-raw-ingredient' %}">
      New Raw Ingredient
    </a>
  </div>
  <br>
  <br>

  {% if rawingredient_list %}
  <div class="">
    <h1>List of your Raw Ingredients:</h1>
    <br>
    {% for ingredient in rawingredient_list %}
      <h3>{{ ingredient.name }}</h3>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
      <br>
      <br>
    {% endfor %}
  </div>
  {% else %}
    <h1>No Raw Ingredients have been added yet.</h1>
  {% endif %}
  
{% endblock content %}
