{% extends "measuredfood/base.html" %}
{% block content %}
  <div class="content-section">


    <div class="">
      <a class="btn btn-lg btn-block btn-primary"
      href="{% url 'get-from-food-data-central' %}"
      id="id_button_get_from_food_data_central">
        Add ingredient using the FoodData central database (recommended)
      </a>
    </div>
    <br>
    <br>


    <div class="">
      <a class="btn btn-lg btn-block btn-secondary"
      href="{% url 'create-rawingredient2' %}"
      id="id_button_new_rawingredient2">
        Add ingredient manually
      </a>
    </div>
    <br>
    <br>



    {% if rawingredient2_list %}
    <div class="">
      <h1>List of your ingredients:</h1>
      <br>
      {% for ingredient in rawingredient2_list %}

          <div class="box">
              <div>  <a class="btn btn-primary btn-large"
                href="{% url 'update-rawingredient2' ingredient.id %}"
              id="edit {{ ingredient.name }}">
                  Edit
                </a></div>
              <div>
                <p id="paragraph {{ ingredient.name }}">
                  {{ ingredient.name }}
                </p>
              </div>
              <div>  <a class="btn btn-danger btn-large"
                href="{% url 'delete-rawingredient2' ingredient.id %}"
              id="delete {{ ingredient.name }}">
                  Delete
                </a>
              </div>
          </div>
          <br>
      {% endfor %}
    </div>
    {% else %}
      <h1>Add ingredients by clicking on the "New Ingredient" button above.</h1>
    {% endif %}
  </div>

{% endblock content %}
