{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="">
    <a class="btn btn-primary btn-large"
    href="{% url 'create-raw-ingredient' %}">
      New Ingredient
    </a>
  </div>
  <br>
  <br>

  {% if rawingredient_list %}
  <div class="">
    <h1>List of your ingredients:</h1>
    <br>
    {% for ingredient in rawingredient_list %}
      {% if ingredient.author.username == request.user.username %}
      <!-- Trying to display only the raw ingredients related to a specific
      user.-->
        <h3>{{ ingredient.name }} created by {{ ingredient.author.username }}</h3>
        <a class="btn btn-primary btn-large" href="#">Edit</a>
        <a class="btn btn-primary btn-large" href="#">Delete</a>
        <br>
        <br>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <h1>No Ingredients have been added yet.</h1>
  {% endif %}

{% endblock content %}
