{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <h1>
        {{ rawingredient3 }}
      </h1>
      <h3>
        Ingredient
      </h3>

{#    <br>#}
{#    <br>#}
{#    <div class="">#}
{#      <a class="btn btn-lg btn-block btn-primary"#}
{#          href="#}
{#{% url 'fulldayofeating-copy-to-user' id_fulldayofeating=fulldayofeating.id %}"#}
{#          id="id_button_copy_fulldayofeating">#}
{#        Copy to my full days of eating#}
{#      </a>#}
{#    </div>#}

    </div>
{% endblock content %}
