{% extends "measuredfood/base.html" %}
{% block content %}
  <div class="content-section">


    <div class="">
      <a class="btn btn-lg btn-block btn-primary"
      href="{% url 'get-from-food-data-central' %}"
      id="id_button_get_from_food_data_central">
        Add ingredient from database
      </a>
    </div>
    <br>
    <br>


    <div class="">
      <a class="btn btn-lg btn-block btn-secondary"
      href="{% url 'create-rawingredient3' %}"
      id="id_button_new_rawingredient3">
        Add ingredient manually
      </a>
    </div>
    <br>
    <br>

    <p><a href="https://www.youtube.com/watch?v=2hEQ9qfL5ew">This video
      tutorial</a> shows how to add ingredients.</p>

    {% if rawingredient3_list %}
    <div class="">
      <h1>List of your ingredients:</h1>
      <br>
      {% for ingredient in rawingredient3_list %}

          <div class="box">
              <div>  <a class="btn btn-primary btn-large"
                href="{% url 'update-rawingredient3' ingredient.id %}"
              id="edit {{ ingredient.name }}">
                  Edit
                </a></div>
              <div>
                <p id="paragraph {{ ingredient.name }}">
                  {{ ingredient }}
                </p>
              </div>
              <div>  <a class="btn btn-danger btn-large"
                href="{% url 'delete-rawingredient3' ingredient.id %}"
              id="delete {{ ingredient }}">
                  Delete
                </a>
              </div>
          </div>
          <br>
      {% endfor %}
    </div>
    {% else %}
      <p>No ingredients have been added yet.</p>
    {% endif %}
  </div>

{% endblock content %}
