{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="">
    <a class="btn btn-primary btn-large"
    href="{% url 'create-raw-ingredient' %}"
    id="id_button_new_ingredient">
      New Ingredient
    </a>
  </div>
  <br>
  <br>

  {% if rawingredient_list %}
  <div class="">
    <h1>List of your ingredients:</h1>
    <br>
    {% for ingredient in rawingredient_list %}
      <!-- TODO: Currently, all ingredients are stored in one database.
      When the user wants to look at their ingredients, a for loop iterates
      over the entire ingredient database with the ingredients of all the users,
      but only shows the ingredients that the user owns.
      This is not scalable. Or is it? -->
      {% if ingredient.author.username == request.user.username %}
        <p>
          <a href="{% url 'detail-raw-ingredient' ingredient.id %}"
          class="btn btn-primary btn-large"
          id="button_view_ingredient">
            View
          </a>{{ ingredient.name }}
        </p>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <h1>No Ingredients have been added yet.</h1>
  {% endif %}

{% endblock content %}
