{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="">
    <a class="btn btn-primary btn-large"
    href="{% url 'create-recipe' %}"
    id="id_button_new_recipe">
      New Recipe
    </a>
  </div>
  <br>
  <br>

  {% if recipe_list %}
  <div class="">
    <h1>List of your recipes:</h1>
    <br>
    {% for recipe in recipe_list %}
      <!-- TODO: Currently, all ingredients are stored in one database.
      When the user wants to look at their ingredients, a for loop iterates
      over the entire ingredient database with the ingredients of all the users,
      but only shows the ingredients that the user owns.
      This is not scalable.
      USE FILTER instead
      https://docs.djangoproject.com/en/2.2/topics/db/queries/
      #retrieving-specific-objects-with-filters
      -->
      {% if recipe.author.username == request.user.username %}
        <p>
          <a href="{% url 'detail-recipe' recipe.id %}"
          class="btn btn-primary btn-large"
          id="button_view_recipe">
            View
          </a>{{ recipe.name }}
        </p>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <h1>No Recipes have been added yet.</h1>
  {% endif %}

{% endblock content %}
