{% extends "measuredfood/base.html" %}
{% block content %}

  <div class="content-section">

  <a href="{% url 'update-mealplan' id_mealplan=id_mealplan %}">
    <button type="button" class="btn btn-lg btn-block btn-primary">
      Back to Mealplan
    </button>
  </a>
  <br>
  <br>

  <h1>Your shopping list:</h1>
  <table class="generic_table_th_td">
    <tr>
      <th class="generic_table_th_td">Total amount</th>
      <th class="generic_table_th_td">Unit</th>
      <th class="generic_table_th_td">Ingredient name</th>
    </tr>
    {% for key, value in results_shopping_list.items %}
    <tr>
      <td class="generic_table_th_td">{{ value.amount }}</td>
      <td class="generic_table_th_td">{{ value.unit }}</td>
      <td class="generic_table_th_td">{{ key }}</td>
    </tr>
    {% endfor %}
  </table>

  </div>

{% endblock content %}
