{% extends "measuredfood/base.html" %}
{% block content %}
<!-- The html table holding the recipe editor with the addition of specific
ingredients is built here. -->

  <h1>{{ fulldayofeating.name }}</h1>
  <br>

  <form method="post">
    {% csrf_token %}
    <table border="1">
      <tr>
        <th>{{ form.base_amount.label_tag }}</th>
        <th>{{ form.base_amount_unit.label_tag }}</th>
        <th>{{ form.rawingredient.label_tag }}</th>
        <th>{{ form.group_or_fixed.label_tag }}</th>
      </tr>

      <!-- List all the Specific Ingredients related to the FullDayOfEating -->
      {% for specificingredient in specificingredient_queryset %}
      <tr>
        <td>{{ specificingredient.base_amount }}</td>
        <td>{{ specificingredient.base_amount_unit }}</td>
        <td>{{ specificingredient.rawingredient }}</td>
        <td>{{ specificingredient.group_or_fixed }}</td>
      </tr>
      {% endfor %}




      <tr>
        <td colspan="4"> <button type="button">Add ingredient to recipe</button> </td>
      </tr>
    </table>
  </form>



{% endblock content %}
