{% extends "measuredfood/base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Html table will be built here.</h1>
  </div>

  <div class="">
    <table style="width:100%">
     <tr>
       <th>Firstname</th>
       <th>Lastname</th>
       <th>Age</th>
     </tr>
     <tr>
       <td>Jill</td>
       <td>Smith</td>
       <td>50</td>
     </tr>
     <tr>
       <td>Eve</td>
       <td>Jackson</td>
       <td>94</td>
     </tr>
    </table>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form }}
  </form>

{% endblock content %}
