{% extends "measuredfood/base.html" %}
{% block content %}
<!-- The html table holding the recipe editor with the addition of specific
ingredients is built here. -->

  <!-- Create the form fields to edit the full day of eating. -->
  <form method="post">
    {% csrf_token %}
    <table border="2">
      {{ form_fulldayofeating }}
    </table>
    <input type="submit" value="Save changes to FullDayOfEating!" />
  </form>

  <br>
  <br>

  <form method="post">
    {% csrf_token %}
    <table border="1">
      <tr>
        <th>Amount</th>
        <th>Units</th>
        <th>Ingredient</th>
        <th>Group or fixed</th>
      </tr>

      {% for form in list_of_forms_specificingredient %}
        <tr>
          <td>{{ form.base_amount }}</td>
          <td>{{ form.base_amount_unit }}</td>
          <td>{{ form.rawingredient }}</td>
          <td>{{ form.group_or_fixed }}</td>
        </tr>
      {% endfor %}
      
      <tr>
        <td colspan="4"> <button type="button">Add ingredient to recipe</button> </td>
      </tr>
    </table>
  </form>



{% endblock content %}
