<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">{% csrf_token %}
      <table border="1">
        <tr>
            <th>Base amount</th>
            <th>Ingredient</th>
            <th>Delete</th>
        </tr>
        {% for form in formset %}
          <tr>
            <td>{{ form.base_amount }}</td>
            <td>{{ form.rawingredient }}</td>
            <td>{{ form.DELETE }}</td>
          </tr>
        {% endfor %}
      </table>
      <button type="submit">Save</button>
    </form>

  </body>
</html>
