{% extends "measuredfood/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="content-section">

    <h1>Error</h1>
    <p>All fields are required.</p>
    <p>A possible cause is that you clicked
      "Save changes and maybe add more ingredients"
      and left any of the following fields empty:
    </p>
      <ul>
        <li>Name</li>
        <li>Nutrient profile</li>
        <li>Nutrient target selection</li>
        <li>Tolerable upper intake</li>

        <li>Amount</li>
        <li>Units</li>
        <li>Ingredient</li>
        <li>Scaling</li>
      </ul>

  </div>

{% endblock content %}
