/* Format tables showing calculation results. */

.table-list-ingredient {
  border: 1px solid black;
  padding: 5px;
}

/* Center element horizontally. */

.centerhorizontally {
  display: table;
  margin: 0 auto;
}

/* Background color of the navbar. */
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* Avoid content disappearing underneath the navbar. */
body {
  /*background: #fafafa;*/
  /*color: #333333;*/
  margin-top: 5rem;
}