.center_text {
  text-align: center;
}

.good {
  /* color: green; */
  /* background-color: lightgreen */
}

/* Source for color pattern:
https://www.colourlovers.com/palette/1123439/I_Want_Paint_of_This */

.too_much {
  background-color: #B33A3A;
  color: white;
}

.too_little {
  background-color: #3D999D;
  color: white;
  /* color: blue; */
}

.total_nutrition_table {
  border:2px solid #000000;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
}


/* Create horizontal lines in the create form for the RawIngredient2
to create sections. */
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}


/* Create blank row in html table which holds the form for the creation
of RawIngredient2 objects. The blank row causes the related fields to be
visually grouped together. */
.blank_row
{
    height: 20px !important;
    background-color: #FFFFFF;
}

/* Stuff from the tutorial I got the CSS file from */

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.button_view_ingredient {
  margin-right:10em
}
